<form action="/" method="POST">
  <h1 class="mt-5">Shorten Your Link</h1>
  <input type="url" class="form-control" placeholder="Shorten your link" name="origin_url" required>
  <button class="btn btn-primary mt-3" type="submit">Shorten</button>
</form>

