<form action="" >
  <h1>Shorten Your Link</h1>
  <input type="url" placeholder="Shorten your link" name="origin_url" value="http://{{originUrl.shorten_url}}" required>
  <button>Copy</button>
</form>

<div>
<p>Your shorten url goes to "{{originUrl.origin_url}}"</p>
<a href="/{{originUrl.shorten_id}}">http://{{originUrl.shorten_url}}</a>
</div>
<a href="/">Back</a>